*::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgba(0, 0, 0, 0.3);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgba(0, 0, 0, 0.3);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "IBMPlexSans-Regular";
	font-size: 16px;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
* {
	outline: none !important;
}
.authorization-page {
	padding: 0 20px;
	min-height: 100vh;
	 background: linear-gradient(to bottom, #4CA9DF, #4395C4);
}
.form-main {
	padding: 40px 40px;
	padding-top: 49px;
	background-color: #fff;
	text-align: center;
	max-width: 480px;
	margin: auto;
	min-height: 504px;
	box-shadow: 0px 0px 20px rgba(23, 52, 69, 0.3);
	border-radius: 8px;
}
.authorization-page .form-main {
	position: absolute;
	top: 50%;
	margin-top: -255px;
	left: 0;
	right: 0;
}
.logo {
	max-width: 220px;
	margin: 0 auto;
}
.logo img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.description-form {
	font-size: 22px;
	padding-bottom: 7px;
	margin-top: 40px;
	text-align: center;
	line-height: 32px;
	color: #000;
}
.form-main > label {
	display: block;
	margin-top: 16px;
	position: relative;
}
.form-main input {
	height: 64px;
  padding: 13px 0;
    padding-top: 25px;
	width: 100%;
	padding-left: 16px;
	display: block;
	font-size: 18px;
	line-height: 24px;
	border: 1px rgba(0, 0, 0, 0.2) solid;
	border-radius: 8px;
}
.form-main input.value-input {
  
}
.form-main input:focus {
	border: 1px rgba(76, 169, 223, 0.6) solid;
	box-shadow: 0px 0px 0px 1px rgba(76, 169, 223, 0.6) inset;
}
.input-placeholder {
	position: absolute;
	left: 17px;
	top: 20px;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	font-family: "IBMPlexSans-SemiBold";
	transition: all 0.3s;
}
input:focus + .input-placeholder {
		top: 8px;
	font-size: 11px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}
.hide-placeholder .input-placeholder {
		top: 8px;
	font-size: 11px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}
.hide-placeholder .input-placeholder span {
	display: none;
}
input:focus + .input-placeholder {
	opacity: 1;
}
.btn-blue {
	font-size: 22px;
	line-height: 32px;
	padding: 8px 0;
	min-width: 200px;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #4CA9DF;
	cursor: pointer;
	font-family: "IBMPlexSans-SemiBold";
	border: none;
	border-radius: 24px;
	box-shadow: 0 2px 13px rgba(0, 161, 255, 0.3);
	transition: all 0.3s;
}
.btn-blue:hover {
	background-color: #57C1FF;
	box-shadow: 0 2px 13px rgba(0, 161, 255, 0.5);
}
.btn-disabled {
	opacity: 0.5;
}
.btn-disabled:hover {
	background-color: #4CA9DF;
	box-shadow: 0 2px 13px rgba(0, 161, 255, 0.3);
}
label.error {
	display: block;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	margin-top: 4px;
	color: #DF4C4C;
}
.show-password {
	width: 22px;
	height: 19px;
	position: absolute;
	right: 15px;
	bottom: 15px;
	opacity: 0;
	cursor: pointer;
	background-image: url(../img/password.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 22px 15px;
	background-size: 22px 15px;
}
.show-password.show-active {
	background-image: url(../img/password-hide.svg);
	-webkit-background-size: 22px 19px;
	background-size: 22px 19px;
}
.active-showpass {
	opacity: 0.5;
}
.link-standart {
	font-size: 14px;
	line-height: 20px;
	color: #4CA9DF;
	display: inline-block;
	transition: all 0.3s;
}
.forgot-password {
	padding-top: 5px;
	text-align: right;
}
.form-main .btn-blue {
	margin-top: 26px;
}